@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #05060d;
  color: white;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #6d28d9;
  border-radius: 999px;
}

::selection {
  background: #9333ea;
  color: white;
}